
      <div class="container-fluid msg-container">
        <div class="headline">
            <h4>finally, cars have an inbox   </h4>  
            <hr />
            <br />
            <h6>SEND A MESSAGE TO ANY CAR, ANYWHERE, ANYTIME<br /><br />ALL YOU NEED IS THE LICENSE PLATE</h6>
            <br />
            <a href="#" class="transparent_btn">TRY IT NOW</a>
        </div>

        <div class="row msg justify-content-center">
            <div class="col-md-6">
           
            </div>
            <div class="col-md-6">
                <p>Send a Message to Any Car just by the license plate!</p>
            </div>
        </div>
       
        <div class="row msg">
            <div class="col-md-6">
           
            </div>
            <div class="col-md-6 send-message justify-content-end">
                <textarea id="messageContent"class="form-control" placeholder="send a message to any license plate..."rows="7"></textarea>
                <span class=""style="margin-top: 10px"></span>
            </div>
        </div>
    </div>
{{user}}<br>
{{message}}<br>
{{tag}}