
<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>tagged 2.0</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100, 300, 400, 700|Nunito+Sans:200,400" rel="stylesheet">

    <!-- <link rel="stylesheet" type='text/css' href='../public/stylesheets/style.css'> -->
  <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>

  <body>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg sticky-top">
        <div class="container">
                
          <button class="navbar-toggler collapsed mr-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar "></span>
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a class="navbar-brand" href="#"><img class="logo" src="/img/tagged_logo.png" height='55'><img class="logo-small" src="/img/tagged_small_logo.png" height='40'></a> 
          <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                        {{#unless isLoggedIn}}
                          <a class="nav-link" href="#" data-toggle="modal" data-target="#at-signup">SIGN UP</a>
                        {{/unless}}
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">FAQ</a>
                        </li>
                        <li class="nav-item">
                        {{#if isLoggedIn}}
                        <a href="/logout" >Messages</a>
                        {{/if}}
                        {{#unless isLoggedIn}}
                          <a class="nav-link" href="#" data-toggle="modal" data-target="#at-login">LOGIN</a>
                        {{/unless}}

                        </li>
                      </ul>
          </div>
        </div>
      </nav>

{{{body}}}


{{!-- <!--Message Sending Container-->
      <div class="container-fluid msg-container">
        <div class="headline">
            <h4>finally, cars have an inbox   </h4>  
            <hr />
            <br />
            <h6>SEND A MESSAGE TO ANY CAR, ANYWHERE, ANYTIME<br /><br />ALL YOU NEED IS THE LICENSE PLATE</h6>
            <br />
            <a href="#" class="transparent_btn">TRY IT NOW</a>
        </div>

        <div class="row msg justify-content-center">
            <div class="col-md-6">
           
            </div>
            <div class="col-md-6">
                <p>Send a Message to Any Car just by the license plate!</p>
            </div>
        </div>
       
        <div class="row msg">
            <div class="col-md-6">
           
            </div>
            <div class="col-md-6 send-message justify-content-end">
                <textarea id="messageContent"class="form-control" placeholder="send a message to any license plate..."rows="7"></textarea>
                <span class=""style="margin-top: 10px"></span>
            </div>
        </div>

    </div> --}}

<!--Modals-->

    <!--FOOTER-->
    <footer id="myFooter">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <h2 class="logo"><a href="#"><img class="logo-footer" src="/img/tagged-logo-white.png" height='85'></a></h2>
                    </div>
                    <div class="col-sm-2">
                        <h5>Get started</h5>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Sign up</a></li>
                            <li><a href="#">Downloads</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <h5>About us</h5>
                        <ul>
                            <li><a href="#">Company Information</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Reviews</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <h5>Support</h5>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Help desk</a></li>
                            <li><a href="#">Forums</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <div class="social-networks">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <button type="button" class="btn btn-default">Contact us</button>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <p>© 2018 taggedCHAT, LLC </p>
            </div>
        </footer>
    </body>
</html>    

